/* Работа с товаром */

.tovar {
    padding-left: 2%;
    padding-right: 2%;
}

.photo_tovar {
    position: relative;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
    position: relative;
    padding: 0 0 100% 0;
}

.img_tovar {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.photo_tovar .img_tovar {
    transition: 1s;
    display: block;
}

.photo_tovar:hover .img_tovar {
    transform: scale(1.2);
    opacity: 0.4;
}

.photo_tovar:hover .photo_tovar_button {
    visibility: visible;
}

.photo_tovar_button {
    visibility: hidden;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 20;
    white-space: nowrap;
}

/* описание + цена */
.tovar_photo_price {
    cursor: pointer;
}

.price {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.firm {
    font-size: 90%;
    margin-top: -2%;
}

.designation {
    font-size: 90%;
    margin-top: -2%;
}

/*//////////////*/
/* PRODUCT VIEW */
/*//////////////*/

.button_buy {
    background: rgb(59, 59, 59);
    color: white;
    padding: 1% 5%;
    border:none;
}

.button_buy:hover {
    opacity: 0.8;
}


.photo_tovar_variant {
    overflow: hidden;
    cursor: pointer;
    padding: 1%;
    color: #f6fbee;

}

.img_tovar_variant {
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

.border_variant {
    border: 2px black solid;
}

/* Дополнительная информация (точки) */
ul li {
    list-style: none;
}

li {
    display: flex;
}

li div:nth-child(2) {
    flex: 1 1;
    border-bottom: 1px dotted #000;
    height: 1em;
}

.comment_author {
    margin-top: .5rem;
    ;
}

/* звезды */
.rating-area {
    overflow: hidden;
}

.rating-area:not(:checked)>input {
    display: none;
}

.rating-area:not(:checked)>label {
    float: right;
    width: 25px;
    padding: 0;
    /* cursor: pointer; */
    font-size: 25px;
    line-height: 16px;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}

.rating-area:not(:checked)>label:before {
    content: '★';
}

.rating-area>input:checked~label {
    color: gold;
    text-shadow: 1px 1px #c60;
}

.rating-area:not(:checked)>label:hover,
.rating-area:not(:checked)>label:hover~label {
    /* color: gold;  */
    /* При наведении звезда */
}

.rating-area>input:checked+label:hover,
.rating-area>input:checked+label:hover~label,
.rating-area>input:checked~label:hover,
.rating-area>input:checked~label:hover~label,
.rating-area>label:hover~input:checked~label {
    color: gold;
    /* text-shadow: 1px 1px goldenrod; */
     /* при наведении тень */
}

.rate-area>label:active {
    position: relative;
}

@media (min-width:768px) {

    /* фотография при покупке */
    .photo_buy {
        position: fixed;
        top: 0;
    }
}

@media (min-width:768px) {

    /* фотография при покупке */
    .photo_buy {
        position: sticky;
        top: 10%;
    }
}